<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-item>
    <ion-avatar slot="start">
      <img src="https://image.flaticon.com/icons/svg/64/64572.svg">
    </ion-avatar>
    <ion-label>Name</ion-label>
  </ion-item>

  <ion-chip>
    <ion-avatar>
      <img src="https://image.flaticon.com/icons/svg/64/64572.svg">
    </ion-avatar>
    <ion-label>Change Picture</ion-label>
  </ion-chip>

  <ion-content>
    <ion-list>
      <ion-item>Account</ion-item>
      <ion-item>Events</ion-item>
      <ion-item>Notifications</ion-item>
      <ion-item>Data- and Storageusage</ion-item>
      <ion-item>Help</ion-item>
    </ion-list>
  </ion-content>
</ion-content>
