<ion-header>
  <ion-toolbar text-center>
    <ion-title>{{event?.event_name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-button (click)="showInfo = !showInfo" fill="outline" size="large" expand="full" color="medium">Info
    </ion-button>
    <div *ngIf="showInfo">
      <ion-list>
        <ion-item>
          {{event_date.toDateString()}}
        </ion-item>
        <ion-item>
          {{event.event_dis}}
        </ion-item>
      </ion-list>
    </div>
    <ion-button (click)="presentParticipentModal()" fill="outline" size="large" expand="full" color="medium">
        Participants
      </ion-button>
    <ion-button (click)="showInv = !showInv" fill="outline" size="large" expand="full" color="medium">
      Invitation
    </ion-button>
    <div *ngIf="showInv">
      <form #form="ngForm" (ngSubmit)="inviteUser(form)">
        <ion-list>
          <ion-item>
            <ion-input name="user_email" placeholder="Email" ngModel required></ion-input>
          </ion-item>
          <ion-button color="medium" size="large" type="submit" [disabled]="form.invalid" expand="block">
            Invite
          </ion-button>
        </ion-list>
      </form>
    </div>
    <ion-button fill="outline" size="large" expand="full" color="medium">
      Event settings
    </ion-button>
  </ion-list>
</ion-content>
