<ion-header>
  <ion-toolbar>
    <ion-title>My Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div>
    <ion-card *ngFor="let event of results" [routerLink]="['/members/tabs/tabs/events',event._id]">
      <ion-grid style="padding: 0px;">
        <ion-row style="height: 45px;">
          <ion-col size="2" style="border-right: 2px solid #727272;">
            <ion-avatar style="width: 20px; height: 20px;">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          </ion-col>
          <ion-col style="border-right: 2px solid #727272;">
            <ion-label style="font-size: 23px; font-family: 'Arial Nova Light'; padding-left: 25%;" position="center">{{event.event_name}}</ion-label>
          </ion-col>
          <ion-col size="2" style="padding: 0; margin: 0;">
            <ion-icon name="construct" style="height: 30px; padding: 0 15px;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </div>

  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/members/tabs/tabs/events/join']" color="success" data-desc="Join an Event">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button  (click)="createEvent()" color="medium" data-desc="Create an Event">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>

</ion-content>
