
<ion-content>
    <ion-card>
        <ion-card-header>
            <div class="ion-text-center login-title">
                <h3>Login</h3>
            </div>
        </ion-card-header>
        <ion-card-content>
            <form #form="ngForm" (ngSubmit)="login(form)">
                <ion-grid>
                    <ion-row color="primary" justify-content-center>
                        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                            <div padding>
                                <ion-item>
                                    <ion-input name="email" type="email" placeholder="Email" ngModel required></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
                                </ion-item>
                            </div>
                            <div padding class="login_btn">
                                <ion-button expand="block" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <div class="text-center p-t-115">
                            <span class="txt1">Don't have an account?</span><a class="txt2" routerLink='/register' routerDirection="forward">
                            Sign Up</a>
                        </div>
                    </ion-row>
                </ion-grid>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
