<ion-header>
  <ion-toolbar>
    <ion-title>Create</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form  #form="ngForm" (ngSubmit)="createEvent(form)">
    <ion-list>
      <ion-item>
        <ion-input name="event_name" type="text" placeholder="Event Name" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" name="date" type="date" ngModel></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-textarea name="discription" type="text" placeholder="Discription" ngModel required></ion-textarea>
      </ion-item>
      <ion-list>
        <ion-list-header><ion-label>MAX Participents</ion-label></ion-list-header>
        <ion-item>
          <ion-range name="maxparticipents" min="0" max="100" pin="" color="secondary" ngModel>
            <ion-label slot="start">0</ion-label>
            <ion-label slot="end">100</ion-label>
          </ion-range>
        </ion-item>
      </ion-list>
    </ion-list>
    <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Create</ion-button>
  </form>
</ion-content>
